<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="../public/css/general.css">
</head>

<body>
    <div class="main">
        <span id="name">dummy</span>
        <div id="groups" class="Container">
        	<div>personals</div>
        	<div>dummy</div>
        </div>
        <div class="tasklist Container">
            <ul>
                <li>
                    <button>
                        Create New Task
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <script type="text/javascript" src='../public/js/general.js'>
    </script>
</body>

</html>